/* Helper */

/* width */
.w-100{ width: 100%; }
.h-100per{ height: 100%;}

/* margin */
.mar-t-40{ margin-top: 40px; }
.mar-lm-5{ margin-left: -5px; }

.pad-b-10{ padding-bottom: 10px; }
.pad-l-20{ padding-left: 20px; }

.h-600{ height: 600px;}

/* padding */
.pad-r-none{ padding-right: 0; }

.mar-r-5{ margin-right: 5px; }
.mar-t-30{ margin-top: 30px; }

/* bg */
.green-bg{
	background: #17ae97 !important;
	color: #fff !important;
	font-size: 10px !important;
}
.white-bg{ background: #fff;}

/* color */
.grey-color-xs{
	color: #afafaf;
	font-size: 13px;
}
.black-col{
	color: #444242;
}


/* btn */
.btn-green{
	background: #17ae97;
	padding: 8px 30px;
}
.btn-trans{
	border: 1px solid #fff;
	border-radius: 2px;
	background: transparent;
}
.btn-trans:hover{ 
	border: 1px solid #17ae97; 
	color: #17ae97;
}
.btn-grey{
	background: #f8f6f6;
	border: 1px solid #afafaf;
	padding: 10px 40px;
	border-radius: 0px !important; 
	color: #818181;
}

.small-btn{
	padding: 6px 25px !important;
	border-radius: 2px;
}
.medium-btn{
	padding: 5px 10px 4px 10px;;
}
.medium-btn i{
	padding-right: 5px;
}

/* margin */
.mar-t-10{ margin-top: 10px;}


.bor-none{ border: none !important; }
.bor-b-none{ border-bottom: none !important; }

/* link */
.left-link li{ 
	display: block; 
	float: left;
	padding-left: 32px;
}
.left-link li a > img{
	opacity: 0.5;
}
.left-link li a > img:hover{
	opacity: 1;
}

/* effect */
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
